# Ignore Python bytecode files
__pycache__/

# Ignore the database file (SQLite)
db.sqlite3

# Ignore static files collected by 'python manage.py collectstatic'
static/

# Ignore media files uploaded by users
media/